<!--  This file is app/views/home/index.html.erb -->
<h2>All Available Listings on BOXT</h2>


<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Name</th>
      <th>Available Space (in Sq. ft.)</th>
      <th>Price per Sq. ft. (in $)</th>
      <th>Availability Start Date</th>
      <th>Availability End Date</th>
      <th>Distance from Campus (in Miles)</th>
      <th>Rating</th>
    </tr>
  </thead>

</table>
